

.navbar {
    padding: 15px 10px;
    background: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: aliceblue;
}
.navbar-right{
  padding-top: 10px;
}
.header-right{
  padding-top: 30px;
  float: right;

}
.navbar-header{
    padding-left: 20px;
    color: white;
}
.navbar-brand{
    color: white; 
}
.navbar-btn{
    float: left;
}
.fasearch{
    color: black;
}
.search{
    color: black;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
   
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%
}
.image_properties{
    height: 500px;
    width: 1600px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
