<div class="wrapper">
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><strong><i>Beers For ALL</i></strong></a>
                    </div>
                    <div class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
                        <a href="#">Home</a>&nbsp;&nbsp;
                        <a href="#">Settings</a>&nbsp;&nbsp;
                        <a href="#">About</a>&nbsp;&nbsp;
                        <a href="#">Add a Beer</a>&nbsp;&nbsp;
                        <a href="#">Liked</a>&nbsp;&nbsp;
                        <button class="fasearch" (click)="search()"><i class="fa fa-search"></i></button><input class="search" type="text" placeholder="Search.." name="search">&nbsp;&nbsp;
                        <a href="#">Sign Up</a>&nbsp;&nbsp;
                        <a href="#">Login</a>
                    </div>
                </div>
            </nav>
        </div>
    
        <div class="hero_image">
            <img class="image_properties"
                src="../assets/beer_hero.jpg">
        </div>
    </div>