<!-- <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1> -->
<div class="contanier">
  <div *ngIf="!(authService.user | async)">
      <div class="row">
        <div class="large-6 columns">
          <label>Email
            <input type="text" [(ngModel)]="email" placeholder="email">
          </label>
          <br /><br />

          <label>Password
            <input type="password" [(ngModel)]="password" placeholder="password">
          </label>
          <br /><br />
          <button (click)="login()" [disabled]="!email || !password">
            Login
          </button>
        </div>
      </div>
  </div>
</div>