<div class="contanier">
  <div *ngIf="!(authService.user | async)">
      <div class="row">
        <div class="large-6 columns">
          <label>Email
            <input type="text" [(ngModel)]="email" placeholder="email">
          </label>
          <br /><br />
          <div class="alert alert-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
            Correct Email ID Required!!
          </div>
          <label>Password
            <input type="password" [(ngModel)]="password" placeholder="password">
          </label>
          <br /><br />
          <button (click)="signup()" [disabled]="!email || !password">
            Signup
          </button>
        </div>
      </div>
  </div>
</div>